@import 'styles/media-queries';

.results {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px #aaa;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 25px;
  margin: 0 auto 30px;
  max-width: 800px;
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    display: flex;
    min-height: 30px;
    justify-content: space-between;
    @include desktop {
      justify-content: initial;
    }
    &:not(:last-child) {
      margin: 0 0 15px;
    }
  }

  &__label {
    font-weight: 600;
    margin: 0 10px 0 0;
  }

  &__address {
    font-style: normal;
    text-align: right;

    @include desktop {
      text-align: initial;
    }
  }

}
