@import 'colors';
@import 'fonts';
@import 'media-queries';

@import 'components/Error/styles';
@import 'components/Header/styles';
@import 'components/Results/styles';
@import 'components/Search/styles';
@import 'components/Loader/styles';

body {
  background: $tertiary-color;
  margin: 0;
}

main {
  padding: 0 15px;
}
